fastapi:
  image_name: "jav3dahmed/wiki-service:latest"  # Wiki-service image name
  replicas: 1
  resources:
    limits:
      cpu: "2"
      memory: "4Gi"
    requests:
      cpu: "250m"
      memory: "128Mi"
  service_name: wiki-chart-fastapi-svc

postgres:
  username: postgres
  password: postgres
  db: wiki_db
  replicas: 1
  persistence:
    enabled: true
    size: 5Gi
    storageClass: "" 

prometheus:
  enabled: true
  scrape_interval: 15s

grafana:
  adminUser: admin
  adminPassword: admin

ingress:
  enabled: true
  host: example.local

resources:
  # template placeholders - override per component if desired
  prometheus: {}
  grafana: {}



# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

