apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wiki-ingress
spec:
  rules:
  - http:
      paths:
      - path: /users
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.fastapi.service_name }}
            port:
              number: 8000
      - path: /user
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.fastapi.service_name }}
            port:
              number: 8000
      - path: /posts
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.fastapi.service_name }}
            port:
              number: 8000
      - path: /grafana
        pathType: Prefix
        backend:
          service:
            name: grafana
            port:
              number: 3000
